<div class="random-app-widget">
  <h3>随机推荐 App</h3>
  <div id="random-app-container">
    <div class="app-info">
      <img src="" alt="" class="app-icon">
      <div class="app-details">
        <h4 class="app-name"></h4>
        <div class="app-rating">
          <span class="stars"></span>
          <span class="rating-value"></span>
          <span class="rating-count"></span>
        </div>
        <p class="app-description"></p>
        <a href="" class="app-link" target="_blank">在 App Store 查看</a>
      </div>
    </div>
  </div>
</div>
