<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>---.md</key>
			<dict>
				<key>lastModification</key>
				<real>539164600.84181702</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>2017-12-08.md</key>
			<dict>
				<key>lastModification</key>
				<real>539164600.84181798</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>itimelog-2017.md</key>
			<dict>
				<key>lastModification</key>
				<real>539164600.84181595</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>von-gosh.md</key>
			<dict>
				<key>lastModification</key>
				<real>539164600.84181702</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>费德勒，纳达尔，德约科维奇，我居然已经看十年网球了.md</key>
			<dict>
				<key>lastModification</key>
				<real>539164635.34554303</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>itimelog-2017.md</string>
		</array>
		<array>
			<string>---.md</string>
		</array>
		<array>
			<string>von-gosh.md</string>
		</array>
		<array>
			<string>2017-12-08.md</string>
		</array>
		<array>
			<string>费德勒，纳达尔，德约科维奇，我居然已经看十年网球了.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
