---
layout: page
title: A programmer with tata507 and two cats
tagline: []
---
{% include JB/setup %}

<div class="page-header-wrapper">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://itunes.apple.com/cn/app/itimelog/id423263073?l=en&mt=8"><img src="http://interbbs.b0.upaiyun.com/icon.itimelog.png" width="80" height="80"></img></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://itunes.apple.com/cn/app/lan-hei-zhi-xin/id571540427?mt=8"><img src="http://interbbs.b0.upaiyun.com/icon.nera.png" width="80" height="80"></img></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://itunes.apple.com/cn/app/recit/id600773786?l=en&mt="><img src="http://interbbs.b0.upaiyun.com/icon.recit.png" width="80" height="80"></img></a>
</div>
<hr>
<div class="row">
  <div class="span8">
  {% for post in paginator.posts %}
  <section id="{{ post.url | replace:'/',''}}">
    <article>
      <header>
      <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="date">{{ site.author.name }} 发表于 <span>{{ post.date | date:"%Y-%m-%d" }}</span></div>
    </header>
    <div class="content">{{ post.content }}</div>
    </article>
  </section>
  <p />
  <hr>
  {% endfor %}  

  <div class="pagination">
      <ul>{% if paginator.previous_page %}
        <li class="next"><a href='{% if paginator.previous_page > 1 %}/page{{ paginator.previous_page}}{% else %}/{% endif %}'>&larr; 上一页</a></li>{% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">归档</a></li>{% if paginator.next_page %}
        <li class="prev"><a href='/page{{ paginator.next_page }}'>下一页 &rarr;</a></li>{% endif %}
      </ul>
  </div>


    </div>


  <div class="span4">

    <section>
    <h4>最近发表</h4>
    <ul id="recent_posts">{% for rpost in site.posts limit: 10 %}
      <li class="post">
        <a href="{{ BASE_PATH }}{{ rpost.url }}">{{ rpost.title }}</a>
      </li>{% endfor %}
    </ul>
    </section>
    
  {% unless site.categories == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
      {% assign tags_list = site.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}

  </div>
</div>



