---
layout: page
title: build apps
tagline: []
---
{% include JB/setup %}

<div class="row">
  <div class="span8 offset1">
  {% for post in paginator.posts %}
  <section id="{{ post.url | replace:'/',''}}">
    <article>
      <header>
      <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="date">{{ site.author.name }} 发表于 <span>{{ post.date | date:"%Y-%m-%d" }}</span></div>
    </header>
    <div class="content">{{ post.content }}</div>
    </article>
  </section>
  <p />
  {% endfor %}  

  <div class="pagination">
      <ul>{% if paginator.previous_page %}
        <li class="next"><a href='{% if paginator.previous_page > 1 %}/page{{ paginator.previous_page}}{% else %}/{% endif %}'>&larr; 上一页</a></li>{% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">归档</a></li>{% if paginator.next_page %}
        <li class="prev"><a href='/page{{ paginator.next_page }}'>下一页 &rarr;</a></li>{% endif %}
      </ul>
  </div>

    </div>
</div>



