<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict/>
		<key>sheetOrder</key>
		<real>492942655.92690998</real>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
			<integer>5</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
