<div class="random-app-widget">
  <div id="random-app-container">
    <div class="app-info">
      <img src="" alt="" class="app-icon">
      <div class="app-details">
        <h4 class="app-name"></h4>
        <div class="app-rating">
          <div class="stars-container">
            <span class="stars"></span>
            <span class="rating-value"></span>
          </div>
          <span class="rating-count"></span>
        </div>
        <p class="app-description"></p>
        <a href="" class="app-link" target="_blank">AppStore</a>
      </div>
    </div>
  </div>
</div>
