<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>D</string>
		<string>_drafts</string>
		<string>_posts</string>
		<string>tags</string>
		<string>product</string>
		<string>itimelog-release-note</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>D</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>524063427.07644397</real>
				<key>lastModification</key>
				<real>524063427.07644397</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>_drafts</key>
			<dict>
				<key>lastModification</key>
				<real>507088201.74402899</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>_posts</key>
			<dict>
				<key>lastModification</key>
				<real>507088201.74403</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>itimelog-release-note</key>
			<dict>
				<key>lastModification</key>
				<real>507088201.74403101</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>product</key>
			<dict>
				<key>lastModification</key>
				<real>507088201.74403101</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>tags</key>
			<dict>
				<key>lastModification</key>
				<real>507088201.74403</real>
				<key>version</key>
				<dict>
					<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>a05cbe0caaefd797a4fb8f3258af367929e57399b8d7180f0f52f646d77e5c39</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
